input_data
public/data
public/indicateurs
public/statiques

/node_modules

# production
/build

# geometry files
*.geojson
*.zip

# IDEs
.idea

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.save
