.cell-sidebar {
  position: fixed;
  height: 100%;
  border-right: solid 1px #DDD;
  width: 400px;
  padding: 5px;
  background-color: #F0F0F0;
}

.cell-sidebar-title {
  font-size: 15pt;
  padding-bottom: 8px;
}

.cell-contents {
  margin-left: 400px;
}

.cell-control {
  /* border: solid 1px #DDD; */
  border-radius: 4px;
  background-color: white;
  margin-bottom: 10px;
}

.cell-control-title {
  color: #888;
  padding-left: 10px;
  padding-top: 10px;
  display: inline-block;
}

.cell-control-content-inline {
  padding: 5px;
  display: inline-block;
}

.cell-control-content-slider {
  padding-top: 5px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.cell-section {
  text-align: center;
  color: #888;
  font-weight: bold;
  font-size: 14pt;
}

/* Remove glow around buttons TODO Doesn't work
.btn-noglow:focus,.btn-noglow:active:focus,.btn-noglow.active:focus,
.btn-noglow.focus,.btn-noglow:active.focus,.btn-noglow.active.focus {
   outline: none;
} */